Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~
*.d

fluid

imgui.ini

autom4te.cache
/config.h
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

/.vscode/
auxx/missing
auxx/depcomp
auxx/install-sh
myprogram
